@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.ant-picker-ok .ant-btn {
  color: #1677ff;
}

.ant-picker {
  height: 40px;
  width: 200px;
}

.ant-select .ant-select-selector {
  align-items: center;
  height: 40px !important;
}

.traffic-image {
  height: 240px;
}

.weather_banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--radius-s);
  padding: var(--gap-s);
}

.icon {
  background-color: white;
  font-size: 36px;
  border-radius: 50%;
  margin-right: 24px;
}

.icon i {
  font-size: 32px;
  padding: 12px;
}

.icon .wi-night-clear {
  color: white;
}

.icon .wi-day-sunny {
  color: #dbc650;
}

.icon .wi-cloudy-windy {
  color: rgb(199, 138, 84);
}

.icon .wi-day-cloudy {
  color: #449cd6;
}

.icon .wi-day-sunny-overcast {
  color: rgb(204, 167, 98);
}

.day {
  background-color: #f9d71c;
}

.night {
  background-color: skyblue;
}

.windy {
  background-color: sandybrown;
}

.day_cloudy {
  background-color: #3498db;
}

.fair_warm {
  background-color: orange;
}

.weather_desc {
  font-size: 16px;
  color: white;
  font-weight: 400;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .timer {
    width: 100%;
    margin-top: 24px;
  }

  .date-picker {
    width: 100%;
  }
}
