@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

/*** VARIABLES ***/
  --gap-xxl: 7.1rem;
  --gap-xl: 6.4rem;
  --gap-l: 3.2rem;
  --gap-m: 2.4rem;
  --gap-sm: 2rem;
  --gap-s: 1.6rem;
  --gap-xs: 1.6rem;
  --gap-xxs: 0.8rem;

  --text-bold: 900;
  --text-semibold: 700;
  --text-regular: 500;

  --text-l: 2.2rem;
  --text-m: 1.6rem;
  --text-s: 1.5rem;
  --text-xs: 1.4rem;
  --text-xxs: 1.3rem;

  --height-l: 167%;
  --height-s: 132%;

  --radius-m: 2rem;
  --radius-s: 1.1rem;

  /* themeable */
  --box-shadow: 0px 40px 40px -20px #0d30bd27;
  --box-shadow--button: 0px 20px 20px #382ae131;
  --background-blend: normal;
  --color-bg: #e0e8ff;
  --color-fg: #ffffff;
  
}

html {
  min-height: 100%;
  background-color: var(--color-bg);
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  font-size: 62.5%;
  transition: background-color 0.15s ease-out;

  background-image: url("./assets/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-blend-mode: var(--background-blend);
}

body {
  margin: 0 auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--text-m);
  line-height: var(--height-l);
}

.date-picker {
  margin-right: 24px;
}
